body{
 margin-left:200px;
 font-family:Noto Sans,Sans serif;
 width:80%;
}
img{
border-radius:50%;
}
.left,img{
width:49%;
height:100%;
margin-right:2%;
float:left;
}
.right{
width:49%;
height:100%;
float:right;
}
h2{
font-family:Arial,Sans serif;
font-size:20px;
color:lightskyblue;
}