body{

width:100%:
margin:0 auto;
background-color:#FEF6E4;
font-family:Arial,sans-serif;
}
header{
background-color:white;
width:100%;
height:100px;
font-family:Arial,sans-serif;
padding:10px;
position:relative;
}
header h1{
position:absolute;
left:100px;
top:30px;
}

#esf{
position:absolute;
left:500px;
top:30px;
}
#but1{
width:200px;
heigth:60px;
background-color:#E3E5F5;
border-radius:10px;
position:absolute;
right:150px;
top:40px;
}
#but2{
width:100px;
heigth:60px;
background-color:#E3E5F5;
border-radius:10px;
position:absolute;
right:40px;
top:40px;
}
hr{
	width:100%
}
.fa-pencil-alt{
color:#0099FF;
}
nav{
background-color:#FF7C14;
width:100%;
height:60px;
position:sticky;
overflow:hidden;
}

nav ul li{
display:inline-block;
margin-right:5px;
padding:20px;
position:relative;
left:450px;
}
nav ul li a{
text-decoration:none;
color:white;
width:100px;
height:60px;
}
nav ul li a:hover{
	color:yellowgreen;
}
article{
width:50%;
overflow:hidden;
border:4px solid #F3D2C1;
margin:40px auto;
padding:30px;
background-color:white;
}
article h1{
text-align:center;
}
article form{
	position:relative;
	left:10px;
}
.int{
	width:40%;
	height:30px;
	border-radius:5px;
}
.fn{
	margin-right:20px;
}
table,tr,th,td{
border:1px solid #0099FF;
border-collapse:collapse;
font-weight:normal;
font-size:12px;
border-radius:5px;

}
th{
background-color:#E5EAF4;
width:400px;
height:30px;
}
#th1{
border-style:none;
}
tr,td{
width:50px;
height:30px;
}
table{
width:60%;
height:600px;
margin-left:20px;
}
textarea{
border-radius:5px;
color:lightgrey;
font-size:16px;
}
#but3{
width:80px;
height:50px;
border-radius:5px;
background-color:#F17C72;
color:white;
display:flex;
justify-content:center;
align-items:center;
margin:auto;
font-weight:bold;
font-size:16px;
}